In [1]:
name_marks = {"Andy":88, "Amy":66, "James": 90, "Jules":55, "Arthur": 77}
for name, marks in name_marks.items():
    print(f"{name} , {marks} ")

Andy , 88
Amy , 66
James , 90
Jules , 55
Arthur , 77

In [2]:
import numpy as np

In [3]:
marks = np.array([88, 66, 90, 55, 77])

In [4]:
marks.mean()

75.2

In [6]:
n = 2
print(n)
while True:
    n = n**2
    
    if n > 8:
        break 
    print(n)

2
4

In [9]:
h = 1
print(h)
while True:
    h = h+1
    
    if h > 15:
        break
    print(h)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [14]:
def summation(n):
    my_sum = 0
    i=0
    while i <= n:
        my_sum = my_sum + i
        print(my_sum)
        i+=1
    print (my_sum)

In [ ]:
def summation(num): 
    sumX = 0
    for i in range(1, num + 1):
        sumX = sumX + i
    return sumX

summation(3)

In [ ]:
np.arange(101)

In [ ]:
numberss = np.arange(101)

In [ ]:
numberss.sum()

In [ ]:
numberss.mean()

In [ ]:
numberss.std()

In [ ]:
def max1(v1, v2, v3, v4):
    max = v1
    if v2 > max: 
        max = v2
    if v3 > max:
        max = v3
    if v4 > max:
        max = v4
    return max

In [ ]:
list1 = "Asher"
list2 = "is"
list3 = "writing"
list5 = (list1, list2, list3)
print (list5)